.app-layout {
  display: flex;
  height: 100%;
  width: 100%;
}

.map-section {
  flex: 2;
}

.info-panel {
  flex: 1;
  padding: 1rem;
  background-color: #b5b4b490;
  border-left: 1px solid #f5f5f590;
}

.info-panel h2 {
  margin-bottom: 1rem;
}







/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

